@using AccountService.Models;
@model ForgotPassword
@{
    Layout = "_Layout";
    ViewData["Title"] = "Forgot Password";
}

<h1>@ViewBag.Title</h1>
<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Enter your email" })
        @Html.ValidationMessageFor(m=>m.Email,"",new { @class="red"})
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Restore account</button>
</form>


